body {
	text-align: center;
	margin: 0;
}

header {
	background-color: #F15B31;
	padding: 30px 20px 30px 20px;
}

h1 {
	font-family: RALEWAY;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

nav {
	background-color: #00A6B3;
	padding: 20px 0px 20px 0px;
}

nav a.generic:hover {
	color: #F15B31;
	border-color: white;
}

a.generic {
	font-family: RALEWAY;
	color: white;
	letter-spacing: 2px;
	font-weight: 600;
	font-size: 18px;
	margin: 0px 20px 0px 20px;
	border-bottom: 2px solid transparent;
}

main {
	width: 850px;
	margin: 35px auto 35px auto;
}

h2 {
	font-family: RALEWAY;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

img.card_image {
	margin: 40px 8px 0px 8px;
}

p {
	font-family: "droid serif";
	line-height: 26px;
	font-size: 18px;
}

h3 {
	font-family: RALEWAY;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

footer {
	text-transform: uppercase;
	padding: 0px 20px 0px 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright {
	float: left;
	font-family: raleway;
}

.message {
	float: right;
	font-family: raleway;
}

.name {
	color: #F15B31;
	font-weight: 700;
}











